* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
display:flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: linear-gradient(180deg,grey, grey);

}
.container{
   
    width:400px;
    height:80vh;
    background:#eee;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px black ;
    border-radius: 1rem;
    

}
.container h2{
    background:#075E54;
    color:white;
    padding:1rem;

}

.container.input{
     display:flex;
     justify-content: space-between;
     padding:.5rem;
     background:white;

    }
    .container .input.input{
        width:100;
        margin-right:.5rem;
        padding:.5rem;
        border:none;
        outline:none;
        border-bottom: solid 1px #ddd;
    color:#444;
    font-size:1.rem;

    }
    .container.input button{
padding:.5rem;
border:none;
outline:none;
background:green;
color:white;
font-size: 1.2rem;
border-radius: 50%;
width:50px;
height:45px;
cursor:pointer;

}
ul.messages{
    list-style:none;
    flex-grow: 1;
    background:white;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    overflow:hidden;
    overflow-y:scroll;

}
ul.messages li.message{
border:solid 1px;
max-width:80%;
margin:.5rem 1rem;
padding:1.5rem .5rem 1rem .5rem;
border-radius: 1rem;
box-shadow:0  2px  3px  rgba(0,0,0,.3);
color:black;


}
ul.messages li.message.mine{
    align-self: flex-end ;
    padding-top:1rem;
    background:#DCF8C6;
}
ul.messages li.message span.sender{
 position:absolute;
 top:.5rem;
 left:5rem;
 colour:blue;
 font-weight:bold;
 font-size:.8rem;

}
ul.messages li.message span.date{
    position:absolute;
    bottom:.5rem;
    right:.5rem;
    font-size:.7rem;
    color:grey;

}